.input-text
	font-family 'courier new'
	font-size 30px
	line-height 60px
	color $input-color

	&_editable
		padding-left 4px
		word-break break-all
		hyphens auto
		background-image url(../images/border.png)
		background-repeat repeat-y
		background-position left -4px top 20px


	&__input
		vertical-align top