.input-radio

	&__input
		display none

		&:checked + .input-radio__label
			background-image url(../images/radio_checked.png)

	&__label
		padding-left 32px
		display inline-block
		font-size 20px
		font-weight 700
		line-height 27px
		cursor pointer
		color $black
		background-image url(../images/radio_unchecked.png)
		background-repeat no-repeat
		background-position left -8px bottom -9px