/* fonts */
$base-font = ptsans
$base-font-size = 15px
$base-line-height = 23px

/* colors */
$body-background = #797979
$base-color = #3d3d3d
$heading-color = #2f1b15
$input-color = #231f20
$black = #000