.skills
	margin-top 22px
	margin-bottom -3px
	columns 3
	column-gap 16px

	&__item
		margin-bottom 4px
		padding-right 5px
		display inline-block

		&_middle
			margin-left -4px

			& .input-checkbox__label
				margin-left 1px

		&_right

			& .input-checkbox__input
				left 6px

			& .input-checkbox__input-bgrd
				left 3px