.input-checkbox
	position relative
	padding-top 5px
	padding-left 24px

	&__input-bgrd
		position absolute
		top 0
		left 0
		width 24px
		height 28px
		background-image url(../images/checkbox.png)
		background-repeat no-repeat
		background-position left bottom

	&__input
		position absolute
		z-index 100
		top 12px
		left 3px
		bottom 0
		width 14px
		height 14px
		opacity 0

		&:checked + .input-checkbox__input-bgrd
			background-image url(../images/checked.png)

	&__label
		margin-left 4px
		display inline-block
		font-size 21px
		font-weight 700
		line-height 25px
		cursor pointer
		color $black

	&__goodeye:first-of-type
		vertical-align -2px

	&__goodeye:last-of-type
		vertical-align -3px

	&__link
		color #1f5f97